
.user-input-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 90px;
  background-color:  rgba(255, 255, 255, 0.5);
  border-radius: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top:250px;
  right: 1165px;
  z-index: 3; /* Ensure the form is above background images */
}

.user-input-form label {
  margin-bottom: 10px;
  
}

.user-input-form input {
  margin-left: 5px;
  
}

.user-input-form button {
  margin-bottom: 100px;
  margin-right: 100px;
  transform: translateX(102px);
  align-self: flex-start;
 
}
.day-container{padding-left: 65px;color: black;}
.day-input{transform: translateX(10);}
.month-container{transform: translateX(-10px);}
.month-container{color: black;}