.App {
  text-align: center;
  background-color: red; /* Set red background color */
  height: 100vh; /* Ensure full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 10px;
}

img {
  width: 100px;
  height: 100px;
}

.horoscopeResult {
  margin-top: 20px;
}

.horoscopeResult button {
  margin-bottom: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

